//cores

$bgLight:#EAF2FF;

//General CSS

body{
  background: $bgLight;
}
input{
  &:focus-visible{
    outline: none;
  }
}

@mixin phone{
  @media(max-width:320px){@content}
}
@mixin tablet{
  @media(min-width:321px){@content}
}

@mixin desktop{
  @media(min-width:769px){@content}
}

/*TEXTOS*/
@font-face {
  font-family: Gotham;
  src: url("../fonts/GothamMedium.ttf");
  src: url("../fonts/GothamBook.ttf");

}
@font-face {
  font-family: Gotham-black;
  src: url("../fonts/Gotham-Black.otf");
}


.gotham-black{
  font-family: Gotham-black, serif;
}

.downloader{
  max-width: 95%;
  &--Dlcontainer{
    width: 20rem;
    &:first-child{
      height: 20rem;
      @include phone(){
        height: 20rem;
      }
  }
    @include phone(){
      width: 90%;
    }
  }

  &__values{

  }

  &__buttonDownload{
    background: linear-gradient(281deg, rgba(65,54,241,1) 0%, rgba(134,67,255,1) 100%);
  }

  &__imageContent{
    background-image: url("../img/profile-pics/profilepic1.png");
    background-size: cover;


    width: 300px;
    height: 300px;

    @include phone(){
      width: 250px;
      height: 250px;
    }


  }

}




.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}
button{
  transition: 300ms;
  &:hover{
    filter: brightness(0.9);
  }
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
